.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 100vw;
    height: 100vh;
}

.game-header {
    display: flex;
    height: 151px;
    width: 1280px;
    /* background: red;*/
    /* margin: auto; */
    margin-top: 24px;
    justify-content: space-between;
}

.game-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 135px;
    height: 151px;
    gap: 3px;
    /* background: rebeccapurple; */

}

.score-p {

    font-size: 77px;
    font-weight: 500;
    /* line-height: 150px; */
    text-align: center;
    /* background: green; */
}

.total-score-p {

    font-size: 24px;
    font-weight: 500;
    /* line-height: 36px; */
    text-align: center;

}

.game-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: rebeccapurple; */
    width: 552px;
    height: 138px;
}

.number-container {
    display: flex;
    /* background: green; */
    width: 552px;
    height: 72px;
    gap: 24px;
}

.number-container .number-btn {
    width: 72px;
    height: 72px;
    background: white;
    padding: 18px 0px 18px 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;

}

.number-container .selected-number-btn {
    background: #000;
    color: white;
    width: 72px;
    height: 72px;
    padding: 18px 0px 18px 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.temp {
    margin: 15px 0px 0px 355px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;

}

.select-warning {
    margin: 5px 0 5px 0;
    color: #FF0C0C;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

}

.game-content {
    width: 250px;
    height: 449px;
    /* margin-top: 36px; */
    /* background: rebeccapurple; */
}

.dice-pic {
    height: 301px;
    width: 250px;
    /* padding: 15px; */
    /* border-radius: 5px; */
    /* background: red; */
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;

}

.dice-pic img {
    border-radius: 32px;
}

.game-btn {
    height: 100px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reset-btn {
    width: 220px;
    height: 44px;
    padding: 10px 18px 10px 18px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid black;
    opacity: 0px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

}

.rules-btn {
    width: 220px;
    height: 44px;
    padding: 10px 18px 10px 18px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px solid black;
    opacity: 0px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

}

.rules-container {
    width: 794px;
    height: 208px;
    padding: 24px;
}

.rules-heading {

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;

}

.rules-list {
    list-style-type: none;
    gap: 4px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}